
body{
    margin: 0;
    padding: 0;
}

/* box styles */
.boxe{
    display: flex;
    /* justify-content:space-around; */
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: lightslategray;
    /* flex-direction: column; */
}

.column1, .column2, .column3 {
    flex-basis: 100%;
    padding: 20px;
    background-color: lightcyan;
    border: 1px solid red;
    text-align: center;
    /* display: block; */
}

/* large */
@media (max-width: 992px) {
    .box{
        flex-direction:column ;
    }
    .column1, .column2, .column3{
        width: 30%;
        /* height: 30%; */
    }
}
/* medium */
@media (max-width: 768px) {
    .box{
        flex-direction: column;
    }
    .column1, .column2, .column3{
        width: 50%;
        /* height: 50%; */
    }
}
/* small */
@media (max-width: 576px) {
    .box{
        flex-direction: column;
    }
    .column1, .column2, .column3{
        width: 100%;
        /* height: 100%; */
    }   
}