/* box styles */
.boxmodel{
    width: 200px;
    height: 200px;
    background-color: grey;
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 50px;
    box-sizing: border-box;
}